.button {
    &--add {
        cursor: pointer;
    }

    &--close-modal {
      cursor: pointer;
      color: rgba(84, 144, 137, 1);
    }

    &--delete {
      cursor: pointer;
    }

    &--edit {
      cursor: pointer;
    }

    &--send {
      cursor: pointer;
    }
}