@import "../utils.scss";

.campaigns {
    &__container {
        background-color: $light-grey;
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 100vh;
    }

    &__header {
      margin-bottom: 4rem;
    }

    &__title {
        @extend %heading
    }

    &__buttons {
      display: flex;
      justify-content: space-around;
    }

    &__list {

      &__campaign {
        
      }

    }


}